<h1>New Record</h1>

<%= form_for(@conversion) do |f| %>
  <% if @conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</h2>

      <ul>
      <% @conversion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br /><div class="field">
    <%= f.label(:local_system_id, "Local System ID") %><br>
    <%= f.text_field :local_system_id, :class => "form-control-40" %><br />
  </div>
  <div class="actions">
    <%= f.submit :value => "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
