<p id="notice"><%= notice %></p>

<h1>Comments</h1><br />

<div class="panel panel-default">

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th><%= sortable "conversion_issues.issue_id", "Comment Tag" %></th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% count = 0 %>
    <% @conversion_issues.each do |conversion_issue| %>
    <% count += 1 %>
      <tr>
        <td><%= "#{count}." %></td>
        <% conv = Conversion.find_by(id: conversion_issue.conversion_id) %>
        <% title = conv.title.truncate(40) %>
        <td><%= title %></td>
        <% issue = Issue.find_by(id: conversion_issue.issue_id) %>
        <% issue_tag = issue.issue_tag.truncate(40) %>
        <td><%= issue_tag %></td>
        <td>
          <div style="width:700px">
            <pre><span style="font-size:12px"><%= conversion_issue.comment %></span></pre>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
