<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <!-- <%= @conversion_issue.conversion_id %> -->
  <% conversion = Conversion.find_by(:id => @conversion_issue.conversion_id) %>
  <%= conversion.title %>
</p>

<p>
  <strong>Comment Tag:</strong>
  <!-- <%= @conversion_issue.issue_id %> -->
  <% issue = Issue.find_by(:id => @conversion_issue.issue_id) %>
  <%= issue.issue_tag %> 
</p>

<p>
  <strong>Comment:</strong>
    <div style="width:700px">
      <pre><span style="font-size:12px"><%= @conversion_issue.comment %></span></pre>
    </div>
</p>

<p>
  <strong>Evaluator:</strong>
  <!-- <%= @conversion_issue.evaluator_id %> -->
  <% evaluator = Evaluator.find_by(:id => @conversion_issue.evaluator_id) %>
  <%= evaluator.full_name %> 
</p>

<%= link_to 'Edit', edit_conversion_issue_path(@conversion_issue) %> |
<%= link_to 'Back', conversion %>
