<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br /><div class="field">
    <%= f.label(:issue_tag, "Comment Tag") %><br>
    <%= f.text_field :issue_tag, :class => "form-control-40" %><br />
  </div>
  <div class="actions">
    <%= f.submit :value => "Submit", :class => "btn btn-default" %>
  </div>
<% end %>
