<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">MARC2BIBFRAME Conversion Evaluation</a>
	</div>

	<!-- Collect the nav links, forms and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Records", conversions_path %></li>
			<li><%= link_to "Comments", conversion_issues_path %></li>
			<li><%= link_to "Comment Tags", issues_path %></li>
			<li><%= link_to "Evaluators", evaluators_path %></li>
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
	          	<ul class="dropdown-menu dropdown-menu-left" role="menu">
					<li><%= link_to "BF Github Issues", "https://github.com/lcnetdev/marc2bibframe/issues" %></li>
					<li><%= link_to "bibframe.org", "http://bibframe.org/" %></li>
				</ul>
			</li>		</ul>
	</div><!-- /.navbar-collapse -->
</nav>